// ===== DOCUMENT PROPERTIES ===== //
body {
    background-color: $color_background;
    box-sizing: border-box;
    color: rgb(0,0,0); 
    font-family: $default_font, $default_font_fallback;
    font-size: $default_font_size;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100vw;
}

// ===== REMOVE DEFAULT STYLES ===== //
a {
    color: rgb(0,0,0);
    text-decoration: none;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

h1,
h2 {
    color: rgb(255,255,255);
    cursor: default;
    font-style: italic;
    text-transform: uppercase;
    user-select: none;
}

h1 {
    letter-spacing: 4px;
    text-shadow: 5px 1px black;
}

h2 {
    letter-spacing: 4px;
    text-shadow: 3px 1px black;
}

input {
    border: none;
    border-bottom: 4px solid $color_lightblue;
    height: $input_height;
    transition: all 0.1s;
    &:active,
    &:focus {
        background-color: lighten($color_lightblue, 15%);
        outline: none !important;
    }
}

// ===== HELPER CLASSES ===== //
.btn-1 {
    align-items: center;
    background-color: $color_lightblue;
    border: none !important;
    cursor: pointer;
    display: flex;
    font-style: italic;
    height: $input_height;
    justify-content: center;
    margin: 0;
    text-transform: uppercase;
    transition: all 0.3s;
    user-select: none;

    &:hover {
        background-color: darken($color_lightblue, 20%);
        color: rgb(255,255,255);
    }

    &_unclickable {
        background-color: darken($color_background, 15%);
        color: $color_background;
        cursor: not-allowed;

        &:hover {
            background-color: darken($color_background, 20%);
            color: $color_background;
        }
    }
}

.error-text {
    color: $color_error;
    display: block;
    font-size: 0.9rem;
    font-style: italic;
    visibility: visible;
}

.input-invalid { outline: 2px solid $color_error; }

.nodisplay { visibility: hidden !important; }
