.mainapp {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 50px 1fr 30px;
    width: 100%;

    @media screen and (min-width: $mobile_width) { grid-template-columns: 20% 1fr 20%; }

    &_date {
        align-items: center;
        background-color: $color_lightblue;
        display: flex;
        grid-column: 1 / -1;
        grid-row: 4 / 5;
        justify-content: space-between;
        @media screen and (min-width: $mobile_width) { grid-column: 2 / 3; }

        &_date {
            height: 100%;
            padding-left: 20px;
            padding-right: 20px;
            &:active,
            &:focus { transform: scale(0.8); }
        }

        &_select {
            font-size: 1.3rem;
            height: 100%;
            padding-left: 10px;
            padding-right: 10px;
            &:active,
            &:focus { transform: scale(0.8); }
        }
    }

    &_header {
        align-items: center;
        background-color: $color_lightblue;
        display: flex;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-content: space-between;
        @media screen and (min-width: $mobile_width) { grid-column: 2 / 3; }

        &_logout {
            height: 100%;
            padding-left: 5px;
            padding-right: 5px;
            &:active,
            &:focus { transform: scale(0.8); }
        }
    }

    &_newtask {
        align-items: center;
        display: flex;
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        justify-content: space-between;
        @media screen and (min-width: $mobile_width) { grid-column: 2 / 3; }

        &_button {
            height: $input_height;
            margin-right: 5px;
            width: 30%;
            &:active,
            &:focus { transform: scale(0.8); }
        }

        &_text {
            border-bottom: none !important;
            font-size: 1.1rem;
            margin-left: 5px;
            margin-right: 5px;
            width: 80%;
        }
    }

    &_tasks {
        background-color: rgb(255,255,255);
        border: 2px solid $color_lightblue;
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        margin-bottom: 5px;
        overflow-y: scroll;
        @media screen and (min-width: $mobile_width) { grid-column: 2 / 3; }

        @import "_task";

        &_notasks {
            align-items: center;
            display: none;
            font-style: italic;
            height: 100%;
            justify-content: center;
            text-transform: uppercase;
        }

        &_totaltime {
            align-items: center;
            border-bottom: 2px solid $color_lightblue;
            display: flex;
            font-style: italic;
            font-weight: 800;
            justify-content: center;
            padding-bottom: 5px;
            padding-top: 5px;
            text-transform: uppercase;
        }
    }
}