// Colours
$color_background: #a9a9a9;
$color_lightblue: #add8e6;

// Fonts
$default_font: 'Helvetica';
$default_font_fallback: 'sans-serif';
$default_font_size: '16px';
$monospace_font: 'Courier New';
$monospace_font_fallback_1: 'Courier';
$monospace_font_fallback_2: 'monospace';

// Dimensions
$input_height: 2rem;
$mobile_width: 800px;