body {
  background-color: #a9a9a9;
  box-sizing: border-box;
  color: black;
  font-family: "Helvetica", "sans-serif";
  font-size: "16px";
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
}

a {
  color: black;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  color: white;
  cursor: default;
  font-style: italic;
  text-transform: uppercase;
  user-select: none;
}

h1 {
  letter-spacing: 4px;
  text-shadow: 5px 1px black;
}

h2 {
  letter-spacing: 4px;
  text-shadow: 3px 1px black;
}

input {
  border: none;
  border-bottom: 4px solid #add8e6;
  height: 2rem;
  transition: all 0.1s;
}

input:active, input:focus {
  background-color: #e8f4f8;
  outline: none !important;
}

.btn-1 {
  align-items: center;
  background-color: #add8e6;
  border: none !important;
  cursor: pointer;
  display: flex;
  font-style: italic;
  justify-content: center;
  margin: 0;
  text-transform: uppercase;
  transition: all 0.3s;
  user-select: none;
}

.btn-1:hover {
  background-color: #5fb3ce;
  color: white;
}

.error-text {
  color: #ff0000;
  display: block;
  font-size: 0.9rem;
  font-style: italic;
}

.input-invalid {
  outline: 2px solid #ff0000;
}

.nodisplay {
  display: none !important;
}

.loginreg {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 35% 30% 35%;
  width: 100%;
}

.loginreg_footer {
  align-items: center;
  display: flex;
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  justify-content: center;
}

.loginreg_footer_logo {
  color: white;
  cursor: default;
  font-style: italic;
  text-align: center;
  text-shadow: 5px 2px black;
  user-select: none;
}

.loginreg_form {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  justify-content: space-around;
}

.loginreg_form_change {
  border-bottom: 1px solid black;
  color: black;
  cursor: pointer;
  font-style: italic;
  transition: all 0.3s;
  user-select: none;
}

.loginreg_form_change:hover {
  background-color: #add8e6;
  transform: scale(1.1);
}

.loginreg_form_change:active, .loginreg_form_change:focus {
  background-color: #5fb3ce;
  color: white;
  transform: scale(0.9);
}

.loginreg_form_input {
  width: 300px;
}

.loginreg_form_submit {
  font-size: 1.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.loginreg_form_submit:hover {
  transform: scale(1.1);
}

.loginreg_form_submit:active, .loginreg_form_submit:focus {
  transform: scale(0.9);
}

.loginreg_header {
  align-items: center;
  display: flex;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  justify-content: center;
  text-align: center;
}

.mainapp {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 50px 1fr 30px;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .mainapp {
    grid-template-columns: 20% 1fr 20%;
  }
}

.mainapp_date {
  align-items: center;
  background-color: #add8e6;
  display: flex;
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  justify-content: space-between;
}

@media screen and (min-width: 800px) {
  .mainapp_date {
    grid-column: 2 / 3;
  }
}

.mainapp_date_date {
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.mainapp_date_date:active, .mainapp_date_date:focus {
  transform: scale(0.8);
}

.mainapp_date_select {
  font-size: 1.3rem;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.mainapp_date_select:active, .mainapp_date_select:focus {
  transform: scale(0.8);
}

.mainapp_header {
  align-items: center;
  background-color: #add8e6;
  display: flex;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  justify-content: space-between;
}

@media screen and (min-width: 800px) {
  .mainapp_header {
    grid-column: 2 / 3;
  }
}

.mainapp_header_logout {
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.mainapp_header_logout:active, .mainapp_header_logout:focus {
  transform: scale(0.8);
}

.mainapp_newtask {
  align-items: center;
  display: flex;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  justify-content: space-between;
}

@media screen and (min-width: 800px) {
  .mainapp_newtask {
    grid-column: 2 / 3;
  }
}

.mainapp_newtask_button {
  height: 2rem;
  margin-right: 5px;
  width: 30%;
}

.mainapp_newtask_button:active, .mainapp_newtask_button:focus {
  transform: scale(0.8);
}

.mainapp_newtask_text {
  border-bottom: none !important;
  font-size: 1.1rem;
  margin-left: 5px;
  margin-right: 5px;
  width: 80%;
}

.mainapp_tasks {
  background-color: white;
  border: 2px solid #add8e6;
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  margin-bottom: 5px;
  overflow-y: scroll;
}

@media screen and (min-width: 800px) {
  .mainapp_tasks {
    grid-column: 2 / 3;
  }
}

.mainapp_tasks_task {
  border-bottom: 2px solid #add8e6;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-top: 5px;
  user-select: none;
}

.mainapp_tasks_task_controls {
  align-items: center;
  display: flex;
  justify-content: center;
}

.mainapp_tasks_task_controls_control {
  cursor: pointer;
}

.mainapp_tasks_task_controls_control_img {
  height: 30px;
  padding: 5px;
  transition: all 0.3s;
  width: 30px;
}

.mainapp_tasks_task_controls_control_img:hover {
  background-color: #add8e6;
}

.mainapp_tasks_task_controls_control_img:active, .mainapp_tasks_task_controls_control_img:focus {
  background-color: #72bcd4;
  transform: scale(0.8);
}

.mainapp_tasks_task_taskdesc {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}
/*# sourceMappingURL=main.css.map */